#u5233-4:active p,
#u5230-4:active p {
  color: #f1f1f8;
  visibility: inherit;
}
.version.index {
  color: #000013;
  background-color: #09f247;
}
.js body {
  visibility: hidden;
}
.js body.initialized {
  visibility: visible;
}
#page {
  margin-right: auto;
  margin-left: auto;
  border-width: 0px;
  padding-bottom: 20px;
  min-height: 754px;
  border-color: #000000;
  background-image: none;
  background-color: transparent;
  z-index: 1;
}
#u3952 {
  height: 5px;
  width: 5px;
  z-index: 41;
}
.ie #u3952 {
  opacity: 0.01;
  filter: alpha(opacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  background-color: #ffffff;
}
#u97 {
  background-color: transparent;
  position: fixed;
  z-index: 105;
}
.js #u97.ose_pre_init {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#u5686-18 {
  position: fixed;
  font-weight: 300;
  z-index: 107;
  font-family: acumin-pro, sans-serif;
  background-color: #f1f1f8;
  padding: 30px 30px 30px 160px;
}
#u5686-2 {
  line-height: 43px;
  font-size: 36px;
}
#u5686-5 {
  color: #000000;
}
#u5686-11 {
  font-weight: 600;
  font-family: acumin-pro, sans-serif;
}
#u5697-29 {
  position: fixed;
  background-color: #f1f1f8;
  z-index: 125;
  padding: 30px 30px 30px 160px;
}
#u5697-2 {
  line-height: 43px;
  color: #000000;
  font-size: 36px;
  font-weight: 300;
  font-family: acumin-pro, sans-serif;
}
#u5697-19 {
  line-height: 0px;
  font-style: italic;
  color: #000000;
  font-family: acumin-pro, sans-serif;
  font-size: 24px;
  font-weight: 300;
}
#u5697-17 {
  line-height: 29px;
}
#u5697-18 {
  line-height: 36px;
  font-size: 30px;
}
#u5697-23,
#u5697-25 {
  line-height: 22px;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  font-family: acumin-pro, sans-serif;
}
#u5697-4,
#u5697-5,
#u5697-7,
#u5697-10,
#u5697-12,
#u5697-15,
#u5697-16,
#u5697-20,
#u5697-21,
#u5697-26 {
  line-height: 22px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  font-family: acumin-pro, sans-serif;
}
#u5704-31 {
  position: fixed;
  background-color: #f1f1f8;
  z-index: 154;
  padding: 30px 160px 30px 30px;
}
#u5704-2 {
  line-height: 43px;
  font-family: acumin-pro, sans-serif;
  font-size: 36px;
  font-weight: 300;
}
#u5704-4 {
  line-height: 29px;
  font-family: acumin-pro, sans-serif;
  font-size: 24px;
  font-weight: 300;
}
#u5686-3,
#u5686-6,
#u5686-7,
#u5686-9,
#u5686-10,
#u5686-13,
#u5686-14,
#u5686-16,
#u5704-8 {
  line-height: 22px;
  font-size: 18px;
}
#u5697-8 > li:before,
#u5697-13 > li:before,
#u5704-23 > li:before {
  content: "•";
}
#u5704-10,
#u5704-12,
#u5704-14,
#u5704-16,
#u5704-18,
#u5704-20,
#u5704-22 {
  line-height: 19px;
  font-family: acumin-pro, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
#u5704-5,
#u5704-7,
#u5704-26,
#u5704-27,
#u5704-29 {
  line-height: 22px;
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
#u5729 {
  background-color: transparent;
  position: fixed;
  z-index: 185;
}
#u6053 {
  background-color: transparent;
  position: fixed;
  z-index: 187;
}
#u6070 {
  background-color: transparent;
  position: fixed;
  z-index: 189;
}
.js #u5686-18.ose_pre_init,
.js #u5697-29.ose_pre_init,
.js #u5704-31.ose_pre_init,
.js #u5729.ose_pre_init,
.js #u6053.ose_pre_init,
.js #u6070.ose_pre_init {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#u94 {
  z-index: 191;
  top: 0px;
  background-color: #f1f1f8;
  position: fixed;
}
#u94-bw {
  z-index: 191;
}
#menuu2003 {
  width: 463px;
  border-width: 0px;
  position: fixed;
  border-color: transparent;
  top: 0px;
  background-color: transparent;
  z-index: 192;
}
#u2011 {
  background-color: transparent;
  width: 189px;
  margin-right: -10000px;
  position: relative;
}
#u2014 {
  transition-timing-function: ease;
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  -webkit-transition-timing-function: ease;
  background-image: url("../images/blank.gif@crc=4208392903");
  background-color: transparent;
  width: 189px;
  -webkit-transition-duration: 1s;
}
#u2014.MuseMenuActive {
  border-width: 0px;
  border-color: #000000;
  box-shadow: none;
  background-color: #ffffff;
  width: 189px;
  min-height: 0px;
  margin: 0px;
}
#u2015-4 {
  text-align: center;
  color: #2b3232;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  left: 19px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  width: 150px;
  min-height: 17px;
}
#u2014:hover #u2015-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u2014:active #u2015-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u2014.MuseMenuActive #u2015-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u2014:hover #u2015-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u2014:active #u2015-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u6980 {
  left: 191px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  width: 144px;
}
#u6983 {
  transition-timing-function: ease;
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  -webkit-transition-timing-function: ease;
  background-image: url("../images/blank.gif@crc=4208392903");
  background-color: transparent;
  width: 144px;
  -webkit-transition-duration: 1s;
}
#u6983:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 142px;
  min-height: 0px;
  margin: 0px;
}
#u6983:active {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: none;
  background-color: #ffffff;
  width: 142px;
  min-height: 0px;
  margin: 0px;
}
#u6985-4 {
  text-align: center;
  color: #2b3232;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  left: 19px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  width: 105px;
  min-height: 17px;
}
#u6983:hover #u6985-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 105px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6983:active #u6985-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 105px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6983.MuseMenuActive #u6985-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 105px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6983:hover #u6985-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u6983:active #u6985-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u6653 {
  left: 337px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  width: 126px;
}
#u6654 {
  transition-timing-function: ease;
  transition-duration: 1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  -webkit-transition-timing-function: ease;
  background-image: url("../images/blank.gif@crc=4208392903");
  background-color: transparent;
  width: 126px;
  -webkit-transition-duration: 1s;
}
#u6654:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 124px;
  min-height: 0px;
  margin: 0px;
}
#u6654:active {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: none;
  background-color: #ffffff;
  width: 124px;
  min-height: 0px;
  margin: 0px;
}
#u6657-4 {
  text-align: center;
  color: #2b3232;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  left: 19px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  width: 87px;
  min-height: 17px;
}
#u6654:hover #u6657-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 87px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6654:active #u6657-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 87px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6654.MuseMenuActive #u6657-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 87px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}
#u6654:hover #u6657-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u6654:active #u6657-4 p {
  color: #7f7f7f;
  visibility: inherit;
}
#u2014.MuseMenuActive #u2015-4 p,
#u6983.MuseMenuActive #u6985-4 p,
#u6654.MuseMenuActive #u6657-4 p {
  color: #2b3232;
  visibility: inherit;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u7525-8 {
  text-align: right;
  background-color: transparent;
  position: fixed;
  min-height: 59px;
  width: 234px;
  z-index: 211;
}
#u7525-2 {
  line-height: 24px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: acumin-pro, sans-serif;
}
#u7525-6 {
  line-height: 0px;
  padding-right: 40px;
  font-size: 17px;
}
#u7525-3 {
  font-style: italic;
  font-family: acumin-pro, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
#u7525-4 {
  font-style: italic;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  line-height: 20px;
}
#u7525-5 {
  line-height: 20px;
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
}
#pslideshowu208 {
  margin-right: -10000px;
  width: 0.01px;
  z-index: 21;
}
#slideshowu208 {
  z-index: 21;
  width: 0.01px;
  position: relative;
}
#u216popup {
  z-index: 22;
}
#u5805 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 23;
}
#u5856 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 25;
}
#u5907 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 27;
}
#u6009 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 29;
}
#u2906 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 31;
}
#u209-4 {
  border-style: solid;
  height: 25px;
  padding-top: 10px;
  border-width: 1px;
  position: absolute;
  border-color: #ffffff;
  padding-bottom: 10px;
  background-color: transparent;
}
#u209-4:hover {
  height: 25px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
  background-color: #ffffff;
  opacity: 0.44;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: alpha(opacity=44);
  min-height: 0px;
  margin: 0px;
}
#u209-4popup {
  z-index: 33;
}
#u209-4:hover p {
  color: #000000;
  visibility: inherit;
}
#u212-4 {
  border-style: solid;
  height: 25px;
  padding-top: 10px;
  border-width: 1px;
  position: absolute;
  border-color: #ffffff;
  padding-bottom: 10px;
  background-color: transparent;
}
#u212-4:hover {
  height: 25px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
  background-color: #ffffff;
  opacity: 0.44;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: alpha(opacity=44);
  min-height: 0px;
  margin: 0px;
}
#u209-4:active,
#u212-4:active {
  height: 25px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
  background-color: #ffffff;
  opacity: 0.66;
  padding-top: 10px;
  padding-bottom: 10px;
  filter: alpha(opacity=66);
  min-height: 0px;
  margin: 0px;
}
#u212-4popup {
  z-index: 37;
}
#u209-4:active p,
#u212-4:hover p {
  color: #000000;
  visibility: inherit;
}
#u212-4:active p {
  color: #000000;
  visibility: inherit;
}
#u209-3,
#u212-3 {
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.MenuItem,
.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
  cursor: pointer;
}
.SSSlideLoading {
  background: url("../images/loading.gif@crc=3815509949") no-repeat center
    center;
}
#pslideshowu5222 {
  width: 0.01px;
  z-index: 42;
}
#slideshowu5222 {
  position: relative;
  width: 0.01px;
  margin-right: -10000px;
  z-index: 42;
}
#u216,
#u5223 {
  background-color: transparent;
  position: absolute;
}
#u5223popup {
  z-index: 43;
}
#u5224 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 44;
}
#u5449 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 46;
}
#u5498 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 48;
}
#u5547 {
  border-width: 0px;
  position: relative;
  border-color: transparent;
  background-color: transparent;
  margin-right: -10000px;
  z-index: 50;
}
#u5244 {
  height: 190px;
  background-color: transparent;
  position: absolute;
}
#u5244popup {
  z-index: 52;
}
#u5246-8 {
  color: #2b3232;
  height: 170px;
  background-color: #ffffff;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  line-height: 34px;
  padding: 10px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  z-index: 53;
}
#u5475-8 {
  color: #2b3232;
  height: 170px;
  background-color: #ffffff;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  line-height: 34px;
  padding: 10px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  z-index: 61;
}
#u5524-8 {
  color: #2b3232;
  height: 170px;
  background-color: #ffffff;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  line-height: 34px;
  padding: 10px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  z-index: 69;
}
#u5573-11 {
  color: #2b3232;
  height: 170px;
  background-color: #ffffff;
  margin-right: -10000px;
  position: relative;
  border-color: transparent;
  line-height: 34px;
  padding: 10px;
  border-width: 0px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  z-index: 77;
}
#u5246-2,
#u5246-4,
#u5246-5,
#u5475-2,
#u5475-4,
#u5475-5,
#u5524-2,
#u5524-4,
#u5524-5,
#u5573-2,
#u5573-5,
#u5573-7,
#u5573-8 {
  text-align: right;
}
#u5246-6,
#u5475-6,
#u5524-6,
#u5573-9 {
  text-align: left;
}
#u5233-4 {
  text-align: center;
  color: #000000;
  height: 25px;
  background-color: #ffffff;
  position: absolute;
  border-color: transparent;
  line-height: 25px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  padding: 10px;
  border-width: 0px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  width: 34px;
}
#u5233-4:hover {
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25px;
  background-color: #ffffff;
  width: 34px;
  min-height: 0px;
  margin: 0px;
}
#u5233-4popup {
  z-index: 88;
}
#u5230-4 {
  text-align: center;
  color: #000000;
  height: 25px;
  background-color: #ffffff;
  position: absolute;
  border-color: transparent;
  line-height: 25px;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  padding: 10px;
  border-width: 0px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  width: 34px;
}
#u5230-4:hover {
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25px;
  background-color: #ffffff;
  width: 34px;
  min-height: 0px;
  margin: 0px;
}
#u5233-4:active,
#u5230-4:active {
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25px;
  background-color: #2b3232;
  width: 34px;
  min-height: 0px;
  margin: 0px;
}
#u5230-4popup {
  z-index: 92;
}
#u5364-9 {
  min-height: 120px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  z-index: 96;
}
#u5364-2 {
  line-height: 36px;
  font-family: acumin-pro, sans-serif;
  font-size: 30px;
  font-weight: 300;
}
#u5364-7 {
  line-height: 22px;
  font-family: acumin-pro, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
#u5364-3 {
  font-style: italic;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
}
#u5364-5 {
  font-style: normal;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
}
#ppu7601 {
  margin-top: 53px;
  width: 0.01px;
  margin-right: -10000px;
  z-index: 18;
}
#u7601 {
  z-index: 19;
  height: 45px;
  width: 44px;
  position: relative;
}
#u7463-16 {
  min-height: 62px;
  z-index: 2;
}
#u7463-16-bw {
  z-index: 2;
  margin-top: 53px;
  min-height: 62px;
}
.html {
  background-color: #ffffff;
}
body {
  position: relative;
}
.verticalspacer {
  min-height: 1px;
}
@media (min-width: 1441px), print {
  #muse_css_mq {
    background-color: #ffffff;
  }
  #bp_infinity.active {
    display: block;
  }
  #page {
    width: 1440px;
  }
  #pu3952 {
    z-index: 41;
    width: 0.01px;
    height: 0px;
    padding-bottom: 2959px;
    margin-right: -10000px;
  }
  #u3952 {
    position: fixed;
    top: 96px;
    left: 2135px;
  }
  #u97 {
    width: 323px;
    top: 130px;
    left: 558px;
  }
  #u97_img {
    margin-top: 3px;
    margin-bottom: -3px;
  }
  #u5686-18 {
    width: 845px;
    min-height: 447px;
    top: 1309px;
    left: -144px;
  }
  #u5697-29 {
    width: 845px;
    min-height: 304px;
    top: 2539px;
    left: -144px;
  }
  #u5704-31 {
    width: 845px;
    min-height: 452px;
    top: 1922px;
    left: 549px;
  }
  #u5729 {
    width: 692px;
    top: 1922px;
    left: -144px;
  }
  #u5729_img {
    margin-left: -23px;
    margin-top: -42px;
    margin-right: -23px;
  }
  #u6053 {
    width: 692px;
    top: 1309px;
    left: 891px;
  }
  #u6053_img {
    margin: -5px 1px -32px -34px;
  }
  #u6070 {
    width: 692px;
    top: 2539px;
    left: 892px;
  }
  #u6070_img {
    margin-left: -78px;
    margin-top: -11px;
    margin-right: -967px;
  }
  #u94 {
    height: 90px;
  }
  #menuu2003 {
    height: 90px;
    left: 168px;
  }
  #u2011,
  #u6980,
  #u6653 {
    min-height: 90px;
  }
  #u2014,
  #u6983,
  #u6654 {
    padding-bottom: 73px;
  }
  #u2015-4,
  #u6985-4,
  #u6657-4 {
    top: 36px;
  }
  #u7525-8 {
    top: 15px;
    right: 0px;
  }
  #pslideshowu208 {
    margin-top: 262px;
    margin-left: -124px;
  }
  #slideshowu208 {
    height: 549px;
    margin-left: 337px;
  }
  #u216,
  #u5805,
  #u5856,
  #u5907,
  #u6009,
  #u2906 {
    width: 1047px;
    height: 549px;
  }
  #u209-4 {
    width: 54px;
    top: 496px;
    left: 927px;
  }
  #u209-4:hover {
    width: 54px;
  }
  #u212-4 {
    width: 54px;
    top: 496px;
    left: 981px;
  }
  #u209-4:active,
  #u212-4:hover {
    width: 54px;
  }
  #u212-4:active {
    width: 54px;
  }
  #pslideshowu5222 {
    margin-top: 50px;
  }
  #slideshowu5222 {
    height: 360px;
  }
  #u5223,
  #u5224,
  #u5449,
  #u5498,
  #u5547 {
    width: 1636px;
    height: 360px;
  }
  #u5224_img,
  #u5449_img,
  #u5498_img,
  #u5547_img {
    padding-left: 640px;
    padding-right: 639px;
  }
  #u5244 {
    width: 956px;
    top: 137px;
    left: 386px;
  }
  #u5246-8,
  #u5475-8,
  #u5524-8,
  #u5573-11 {
    width: 936px;
  }
  #u5233-4 {
    top: 304px;
    left: 1222px;
  }
  #u5230-4 {
    top: 304px;
    left: 1276px;
  }
  #u5364-9 {
    width: 963px;
    margin-top: 8px;
    left: 379px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 3192px);
  }
  #ppu7601 {
    margin-left: -144px;
  }
  #u7601 {
    margin-left: 842px;
  }
  body {
    min-width: 1440px;
  }
}
@media (min-width: 1161px) and (max-width: 1440px) {
  #muse_css_mq {
    background-color: #0005a0;
  }
  #bp_1440.active {
    display: block;
  }
  #page {
    width: 1160px;
  }
  #pu97 {
    z-index: 105;
    width: 0.01px;
    height: 0px;
    padding-bottom: 2763px;
    margin-right: -10000px;
  }
  #u97 {
    width: 286px;
    top: 100px;
    left: 437px;
  }
  #u97_img {
    margin-top: 4px;
    margin-bottom: -4px;
  }
  #u5686-18 {
    width: 738px;
    min-height: 349px;
    top: 1328px;
    left: -140px;
  }
  #u5697-29 {
    width: 738px;
    min-height: 349px;
    top: 2343px;
    left: -140px;
  }
  #u5704-31 {
    width: 738px;
    min-height: 349px;
    top: 1800px;
    left: 371px;
  }
  #u5729 {
    width: 518px;
    top: 1800px;
    left: -141px;
  }
  #u6053 {
    width: 512px;
    top: 1328px;
    left: 788px;
  }
  #u6053_img {
    margin: -7px -10px -6px -41px;
  }
  #u6070 {
    width: 506px;
    top: 2343px;
    left: 794px;
  }
  #u6070_img {
    margin: 1px -1035px -1px -152px;
  }
  #u94 {
    height: 74px;
  }
  #menuu2003 {
    height: 74px;
    left: 97px;
  }
  #u2011,
  #u6980,
  #u6653 {
    min-height: 74px;
  }
  #u2014,
  #u6983,
  #u6654 {
    padding-bottom: 57px;
  }
  #u2015-4,
  #u6985-4,
  #u6657-4 {
    top: 28px;
  }
  #u7525-8 {
    top: 7px;
    right: 0px;
  }
  #pslideshowu208 {
    padding-bottom: 0px;
    margin-top: 241px;
    margin-left: 38px;
  }
  #slideshowu208 {
    height: 527px;
  }
  #u216,
  #u5805,
  #u5856,
  #u5907,
  #u6009,
  #u2906 {
    width: 1083px;
    height: 527px;
  }
  #u209-4 {
    width: 44px;
    top: 473px;
    left: 984px;
  }
  #u209-4:hover {
    width: 44px;
  }
  #u212-4 {
    width: 44px;
    top: 473px;
    left: 1027px;
  }
  #u209-4:active,
  #u212-4:hover {
    width: 44px;
  }
  #u212-4:active {
    width: 44px;
  }
  #pslideshowu5222 {
    margin-left: 91px;
    margin-top: 66px;
  }
  #slideshowu5222 {
    height: 360px;
  }
  #u5223 {
    width: 746px;
    height: 360px;
    left: 87px;
  }
  #u5224,
  #u5449,
  #u5498,
  #u5547 {
    width: 746px;
    height: 360px;
  }
  #u5224_img,
  #u5449_img,
  #u5498_img,
  #u5547_img {
    padding-left: 195px;
    padding-right: 194px;
  }
  #u5244 {
    width: 900px;
    top: 102px;
  }
  #u5246-8,
  #u5475-8,
  #u5524-8,
  #u5573-11 {
    width: 880px;
  }
  #u5233-4 {
    top: 304px;
    left: 794px;
  }
  #u5230-4 {
    top: 304px;
    left: 848px;
  }
  #u5364-9 {
    width: 902px;
    margin-top: 12px;
  }
  #u3952 {
    position: relative;
    margin-right: -10000px;
    margin-top: 353px;
    left: 1513px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 2997px);
  }
  #ppu7601 {
    margin-left: -140px;
  }
  #u7601 {
    margin-left: 698px;
  }
  body {
    overflow-x: hidden;
    min-width: 1160px;
  }
}
@media (max-width: 1160px) {
  #muse_css_mq {
    background-color: #000488;
  }
  #bp_1160.active {
    display: block;
  }
  #page {
    width: 960px;
  }
  #pu3952 {
    z-index: 41;
    width: 0.01px;
    height: 1px;
    padding-bottom: 3005px;
    margin-right: -10000px;
  }
  #u3952 {
    position: fixed;
    top: 353px;
    left: 1513px;
  }
  #u97 {
    width: 287px;
    top: 90px;
    left: 359px;
  }
  #u5686-18 {
    width: 379px;
    min-height: 357px;
    top: 1108px;
    left: -100px;
  }
  #u5697-29 {
    width: 390px;
    min-height: 349px;
    top: 2490px;
    left: -100px;
  }
  #u5704-31 {
    width: 390px;
    min-height: 556px;
    top: 1754px;
    left: 480px;
  }
  #u5729 {
    width: 580px;
    top: 1754px;
    left: -100px;
  }
  #u6053 {
    width: 591px;
    top: 1108px;
    left: 469px;
  }
  #u6070 {
    width: 580px;
    top: 2490px;
    left: 480px;
  }
  #u6070_img {
    margin-left: -230px;
    margin-top: -25px;
    margin-right: -1278px;
  }
  #u94 {
    height: 79px;
  }
  #menuu2003 {
    height: 79px;
    left: 120px;
  }
  #u2011,
  #u6980,
  #u6653 {
    min-height: 79px;
  }
  #u2014,
  #u6983,
  #u6654 {
    padding-bottom: 62px;
  }
  #u2015-4,
  #u6985-4,
  #u6657-4 {
    top: 31px;
  }
  #u7525-8 {
    top: 10px;
    right: 3px;
  }
  #pslideshowu208 {
    padding-bottom: 0px;
    margin-top: 215px;
    margin-left: 54px;
  }
  #slideshowu208 {
    height: 412px;
    margin-left: 17px;
  }
  #u216,
  #u5805,
  #u5856,
  #u5907,
  #u6009,
  #u2906 {
    width: 814px;
    height: 412px;
  }
  #u209-4 {
    width: 45px;
    top: 358px;
    left: 712px;
  }
  #u209-4:hover {
    width: 45px;
  }
  #u212-4 {
    width: 45px;
    top: 358px;
    left: 758px;
  }
  #u209-4:active,
  #u212-4:hover {
    width: 45px;
  }
  #u212-4:active {
    width: 45px;
  }
  #pslideshowu5222 {
    margin-top: 70px;
  }
  #slideshowu5222 {
    height: 238px;
    margin-top: 91px;
  }
  #u5223 {
    width: 472px;
    height: 35px;
    top: 124px;
    left: 349px;
  }
  #u5224,
  #u5449,
  #u5498,
  #u5547 {
    width: 472px;
    height: 35px;
  }
  #u5224_img,
  #u5449_img,
  #u5498_img,
  #u5547_img {
    padding-left: 58px;
    padding-right: 57px;
  }
  #u5244 {
    width: 830px;
  }
  #u5246-8,
  #u5475-8,
  #u5524-8,
  #u5573-11 {
    width: 810px;
  }
  #u5233-4 {
    top: 193px;
    left: 722px;
  }
  #u5230-4 {
    top: 193px;
    left: 776px;
  }
  #u5364-9 {
    width: 769px;
    left: 64px;
  }
  .css_verticalspacer .verticalspacer {
    height: calc(100vh - 3239px);
  }
  #ppu7601 {
    margin-left: -140px;
  }
  #u7601 {
    margin-left: 698px;
  }
  body {
    overflow-x: hidden;
    min-width: 960px;
  }
}
